*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 50%;
    height: 35vh ;
    margin: 50px auto;
    position: relative;
}

.upper_container{
    width: 100%;
    height: 50%;
    padding-top: 20px;
    font-weight: bold;
    font-size:60px ;
    text-align: center;
    opacity: 0.8;
}

.upper_container::before{
    content: "";
    display: block;
    width: 120px;
    height: 2px;  /*height small*/
    background: black;

    position: absolute;
    left: 0;
    top: 25%;
    opacity: 0.8;
    
}

.upper_container::after{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background-color: black;
    position: absolute;
    right: 0;
    top: 25%;
    opacity: 0.8;
}

.lowe_container{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    padding-top: 45px;
    
}

.arrow{
    color: rgb(255, 98, 80);
    font-size: 35px ;  /*width 20%*/
    position: absolute;
    top: 50px;
    right:360px ;
    
}

.back{
    position: absolute;
    width:80% ;
    height:100% ;
    top: 50px ;
    right: 40px;
    font-size: 35px ;
    opacity: 0.8;
}


.card{
    margin-top: 10px;
    width: 25%;
    height: 45vh;
    border: 1.5px solid red ;
    border-radius: 8px;
    /*for center*/
    position: relative;
    margin: auto;
    box-shadow: 5px 5px 10px gray;
}

.div1{
    position: absolute;
    top: 15px;
    right: 0px;
    text-align: left;
    font-size: 25px;
    width: 85%;
    height: 15%;   /*15% of  40vh */
    border-bottom: 1px solid gray;
    color: salmon;

}

.div2{
    position: absolute;
    width: 85%;
    height: 15%;
    top: 35%;
    right: 0px;
    color: salmon;
    text-decoration: salmon line-through ;
    font-size: 20px;
    font-weight: bold;
}

.div3{
    position: absolute;
    top: 55%;
    width: 85%;
    height: 15%;
    text-align: left;
    font-size: 22px;
    opacity: 0.8;

}

#check{
    width:18px;
    height: 18px;
    margin-left:22px ;
}

.plus{
    position: absolute;
    bottom:8px ;
    right: 8px;
    font-size:35px ;
    color: rgb(253, 111, 95);
    
}

#blur{
    filter: blur(6px);
    -webkit-filter: blur(6px);
}

.card_blur{
    width: 25% ;
    height: 30vh ;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 37%;
    border: 1.5px solid red;
    border-radius: 10px;
    padding: 20px;
    color: red;
    font-size: 18px;
    box-shadow: 3px 3px 10px rgb(44, 44, 44);

}

#textarea{
    width:85% ;
    height: 25%;
    margin-top: 20px;
    border:1.5px solid red ;
    border-radius:4px ;
    box-shadow: 3px 3px 3px lightgray;
}

.add_button{
    width: 25% ;
    height: 20%;
    color: white;
    background-color: rgb(255, 109, 109);
    border: none;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 18px;
    position: absolute;
    left: 120px;
    margin-bottom: 20px;

}
#btn-click{
    background-color: white;
    color: #ff5e74;
    border: 1px solid #a1a1a1;
    padding: 10px;
    margin-top: 35px;
    margin-left: 45%;
    box-shadow: 3px 2px 5px 0 #ff5e74;
}

